[colors]
background = #282828
foreground = #ebdbb2
background-alt = #99444444
foreground-alt = #FFFFFF
primary = #ffb52a
secondary = #e60053
alert = #bd2c40
fg = #f8f8f2
minor = #39465e
white = #fff
red = #e78482
green = #77b756
yellow = #ffd484
orange = #ffb374
blue = #6db3cEi
green-alt = #b7b82e
magenta = #ad82cB
cyan = #7eddde
black = #1b222d


[bar/barbase]
;width = ${env:width}
;offset-x = ${env:offsetx}
monitor = ${env:MONITOR}
;offset-y = ${env:y}
width = 100%
height = 27 
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 0
border-color = #00000000
padding-left = 0
padding-right = 1
module-margin-left = 1
module-margin-right = 0
;font-0 = "Source Code Pro Semibold:size=10;1"
font-0 = "Jetbrains Mono monospace:size=10;1"
font-1 = "Font Awesome 5 Free:style=Solid:size=10;1"
font-2 = "Font Awesome 5 Brands:size=10;1"
modules-left = ewmh
;modules-center = title
modules-right = spotify pulseaudio battery day date powermenu
tray-position = 
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize
pseudo-transparency = true

[module/ewmh]
type = internal/xworkspaces
enable-scroll = false
icon-0 = 1;
icon-1 = 2;
icon-2 = 3;
icon-3 = 4; 
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;

format = <label-state>
format-overline = ${colors.background}
format-underline = ${colors.background}
format-padding = 1
label-active =  %name% %icon%
label-active-foreground = ${colors.minor}
label-active-background = ${colors.white}
label-active-padding = 2

label-occupied = %name% %icon%
label-occupied-foreground = ${colors.white}
label-occupied-background = ${colors.minor}
label-occupied-padding = 2 

label-urgent = 
label-urgent-padding = 2

label-empty =
label-empty-padding = 2


[module/date]
type = internal/date
interval = 1 
time = %H:%M:%S
format =  <label>
format-padding = 2
format-overline = ${colors.background}
format-underline = ${colors.background}
format-foreground = ${colors.background}
format-background = ${colors.orange}
label = %date% %time%

[module/day]
type = internal/date
internal = 5 
date = %a, %b %d
format =  <label>
format-background = ${colors.green}
format-foreground = ${colors.background}

format-padding = 2
format-overline = ${colors.background}
format-underline = ${colors.background}

[module/spotify]
type = custom/script
exec = ~/.config/polybar/spotify
align = center
interval = 2
signal = 10
format-background = ${colors.green-alt} 
format-foreground = ${colors.background}
format-padding = 2
format-overline = ${colors.background}
format-underline = ${colors.background}

[module/battery]
type = internal/battery
full-at = 99
battery = BAT1
adapter = ADP1
poll-interval = 5
format = 
format-charging-overline = ${colors.background}
format-charging-underline = ${colors.background}
format-charging = <ramp-capacity> <label-charging>
format-charging-background = ${colors.magenta}
format-charging-foreground = ${colors.background}
format-charging-padding = 2

format-dicharging-overline = ${colors.background}
format-dicharging-underline = ${colors.background}
format-discharging = <ramp-capacity> <label-discharging>
format-discharging-background = ${colors.magenta}
format-discharging-foreground = ${colors.background}
format-discharging-padding = 2

format-full-overline = ${colors.background}
format-full-underline = ${colors.background}
format-full = <ramp-capacity> <label-full>
format-full-background = ${colors.magenta}
format-full-foreground = ${colors.background}
format-full-padding = 2

label-charging = %percentage%%
label-discharging = %percentage%%
label-full = %percentage%%
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

[module/title]
type = internal/xwindow
format = <label>
format-overline = ${colors.background}
format-underline = ${colors.background}
format-foreground = ${colors.white}
format-background = ${colors.black}
format-padding-left = 4

; Available tokens:
;   %title%
; Default: %title%
label = %title%
label-maxlen = 50

label-empty = 
label-empty-foreground = ${colors.foreground}

[module/pulseaudio]
type = internal/pulseaudio

use-ui-max = false
format-volume =  <label-volume>
format-volume-background = ${colors.cyan}
format-volume-foreground = ${colors.black}
format-volume-overline = ${colors.background}
format-volume-underline = ${colors.background}
format-padding= 2

label-volume = "%percentage%%"
label-volume-background = ${colors.cyan}
label-volume-foreground = ${colors.black}
label-volume-underline = ${colors.background}
label-volume-overline = ${colors.background}
label-volume-padding = 2

label-muted = mute
label-muted-background = ${colors.cyan}
label-muted-foreground = ${colors.black}
label-muted-overline = ${colors.background}
label-muted-underline = ${colors.background}
label-muted-padding = 2

click-right = pavucontrol

[module/powermenu]
type = custom/menu
expand-right = true
format-spacing = 1
label-open = ""
label-open-foreground = ${colors.black}
label-close =  cancel
label-close-foreground = ${colors.black}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}

label-open-background = ${colors.secondary}
label-close-background = ${colors.secondary}
label-open-padding = 2
label-close-padding = 2
label-open-overline = ${colors.background}
label-close-overline = ${colors.background}
label-open-underline = ${colors.background}
label-close-underline = ${colors.background}


menu-0-0 = sleep
menu-0-0-exec = menu-open-1

menu-0-1 = hibernate
menu-0-1-exec = menu-open-2

menu-0-2 = reboot
menu-0-2-exec = menu-open-3

menu-0-3 = power off
menu-0-3-exec = menu-open-4

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = sleep
menu-1-1-exec = /sbin/sleep

menu-2-0 = cancel
menu-2-0-exec = menu-open-0
menu-2-1 = hibernate
menu-2-1-exec = sudo systemctl hibernate

menu-3-0 = cancel
menu-3-0-exec = menu-open-0
menu-3-1 = reboot 
menu-3-1-exec = /sbin/reboot

menu-4-0 = cancel
menu-4-0-exec = menu-open-0
menu-4-1 = power off
menu-4-1-exec = /sbin/poweroff 
